<script>

  // ---------------------------------------------------------------------------------
  // Cover image handeling
  //
  var dropArea = document.getElementById('dropArea');

  function performClick(elemId) {
    var elem = document.getElementById(elemId);
    if(elem && document.createEvent) {
        var evt = document.createEvent("MouseEvents");
        evt.initEvent("click", false, false);
        elem.dispatchEvent(evt);
    }
  }

  function updateSvgColor(svgElm, colorStr) {
    var children = svgElm.children;
    for (var i = 0; i < children.length; i++) {
      children[i].setAttribute("fill", colorStr);
    }
  }

  function setErrorCover(errorMsg) {
    dropArea.classList.remove("purple-border")
    dropArea.classList.add("red-border")

    var bookSvg = document.getElementById("bookSvg");
    updateSvgColor(bookSvg, "#563d7c");

    var dropAreaText = document.getElementById("dropAreaText");
    dropAreaText.innerHTML = errorMsg;
  }

  function unsetErrorCover(errorMsg) {
    dropArea.classList.add("purple-border")
    dropArea.classList.remove("red-border")

    var bookSvg = document.getElementById("bookSvg");
    updateSvgColor(bookSvg, "#563d7c");

    var dropAreaText = document.getElementById("dropAreaText");
    dropAreaText.innerHTML = "Done! Loading..";
  }

  function preventDefaults(e) {
    e.preventDefault()
    e.stopPropagation()
  }

  function highlight(e) {
    dropArea.classList.add('highlight')
    dropArea.classList.add('highlight-drop')
  }

  function unhighlight(e) {
    dropArea.classList.remove('highlight');
    dropArea.classList.remove('highlight-drop');
  }

  function activateLoading(){
    spinnerHtml = `<div class="d-flex justify-content-center" id="loadingDiv">
        <div class="spinner-border purple-text" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>`
    var dropAreaCenterDiv = document.getElementById('dropAreaCenterDiv');
    dropAreaCenterDiv.innerHTML = spinnerHtml
  }

  function deactivateLoading(){
    loadingDiv = document.getElementById('loadingDiv');
    loadingDiv.remove();
  }

  function handleFiles(files) {
    activateLoading();
    ([...files]).forEach(uploadFile)
  }

  function saveCoverInfo(data) {
    localStorage.setItem('coverName', data.file_name);
    localStorage.setItem('coverPath', data.file_path);
  }

  function setCoverImg(data) {
    var dropArea = document.getElementById('dropArea');
    dropArea.classList.remove("purple-border")
    dropArea.classList.remove("px-2");
    dropArea.classList.add("border-purple-r5");
    dropArea.innerHTML = `
      <img class="w-100 h-100" src="${data.file_path}" />
    `;
  }

  function appendCoverInfoToForm(data) {
    var cover = document.getElementById('cover');
    cover.classList.add("border-purple-r5")
    cover.value = data.file_path;
  }

  function uploadFile(file) {
    var fileElem = document.getElementById('fileElem');
    var url = "/books/cover/"
    var formData = new FormData()

    formData.append('file', file)

    fetch(url, {
      method: 'POST',
      body: formData
    })
      .then((response) => {
        if (response.status !== 200) {
          response.json().then(data => {
            setErrorCover(book.file)
          });
        }

        return response.json()
      })
      .then((data) => {
        saveCoverInfo(data);
        appendCoverInfoToForm(data);
        setCoverImg(data)
      })
      .catch((error) => {
        console.log(error.message)
      })
  }


  // ---------------------------------------------------------------------------------
  // Form validation
  //
  function reValidate(){

    if (this.value && this.value !== ''){
      this.classList.remove('is-invalid');
    }

    if (this.id === 'price'){
      if(Number.isFinite(Number.parseFloat(this.value))){
        this.classList.remove('is-invalid');
      }else{
        this.classList.add('is-invalid')
      }
    }
  }

  ;['title', 'author_name', 'goodreads', 'wilaya', 'price'].forEach(elmId => {
    var elm = document.getElementById(elmId);
    elm.oninput = reValidate;
  })

  // ---------------------------------------------------------------------------------
  // DRAG & DROP feature
  //
  // ;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
  //   dropArea.addEventListener(eventName, preventDefaults, false)
  // });

  // ;['dragenter', 'dragover'].forEach(eventName => {
  //   dropArea.addEventListener(eventName, highlight, false)
  // });

  // ;['dragleave', 'drop'].forEach(eventName => {
  //   dropArea.addEventListener(eventName, unhighlight, false)
  // })

  // dropArea.addEventListener('drop', handleDrop, false)
  // function handleDrop(e) {
  //   dropArea.classList.add("purple-border")
  //   dropArea.classList.remove("red-border")
    
  //   var dt = e.dataTransfer
  //   var files = dt.files

  //   handleFiles(files)
  // }
</script>