
import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.10/firebase-app.js";
import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.10/firebase-analytics.js";
import { getAuth, signInWithPopup, signInWithRedirect, getRedirectResult, GoogleAuthProvider, FacebookAuthProvider } from "https://www.gstatic.com/firebasejs/9.6.10/firebase-auth.js";

const app = initializeApp({
    apiKey: "AIzaSyDjO4A9esoHDMxX63BxS-ur-syF47yXKvg",

    authDomain: "boox-e1a40.firebaseapp.com",
  
    projectId: "boox-e1a40",
  
    storageBucket: "boox-e1a40.appspot.com",
  
    messagingSenderId: "601669542280",
  
    appId: "1:601669542280:web:6a764a5d0e3d89a2f81a3d",
  
    measurementId: "G-PJBXDC559V"
  
});
const analytics = getAnalytics(app);
const googleProvider = new GoogleAuthProvider();
const facebookProvider = new FacebookAuthProvider();
facebookProvider.addScope('public_profile,email');
const auth = getAuth();


function attach_property(document, form, key, value){
    var elm = document.createElement("input");
    elm.setAttribute("type", "hidden");
    elm.setAttribute("name", key);
    elm.setAttribute("value", value);
    form.appendChild(elm);    
}

