{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Boox</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />


    <link href="{% static 'boox_app/css/base.css' %}" rel="stylesheet">
    </link>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400&display=swap"
        rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="{% static 'boox_app/logo/favicon.ico' %}" />
</head>

<body class="d-flex h-100 text-center text-dark bg-white">
    <div class="container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column ">

        <header class="mb-auto container min-h-15">
            {% include 'boox_app/snippets/alerts.html' %}

            <div class="text-dark">
                <a href="{% url 'home' %}" class="link-dark">
                    <h1 class="float-md-start mb-0">
                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="161" height="83" viewBox="0 0 322.000000 166.000000"
                            preserveAspectRatio="xMidYMid meet">
                    
                            <g transform="translate(0.000000,166.000000) scale(0.100000,-0.100000)" fill="#563d7c" stroke="none">
                                <path d="M110 1281 l-45 -6 -3 -347 -2 -347 32 -6 c18 -3 62 -5 98 -3 l65 3 3
                                                                128 c2 94 6 127 15 127 7 0 37 -50 67 -110 30 -61 65 -121 78 -132 39 -37 106
                                                                -24 189 39 l33 24 -103 142 -104 142 90 163 c49 90 86 166 82 170 -3 4 -52 7
                                                                -108 7 l-101 0 -67 -135 -68 -135 0 138 -1 137 -39 0 c-22 0 -45 2 -53 3 -7 2
                                                                -33 1 -58 -2z" />
                                <path d="M2742 1282 c-9 -7 -12 -81 -10 -338 l3 -329 50 -25 c42 -21 64 -25
                                                                140 -25 74 0 97 4 132 22 82 44 123 130 123 258 0 137 -49 212 -151 234 -28 6
                                                                -67 9 -85 5 l-34 -6 0 100 c0 82 -3 101 -16 106 -23 9 -137 7 -152 -2z m245
                                                                -382 c7 -14 13 -50 13 -80 0 -68 -19 -100 -61 -100 l-29 0 0 98 c0 54 3 102 7
                                                                106 15 15 58 0 70 -24z" />
                                <path d="M1313 1180 c-19 -8 -23 -17 -23 -55 0 -40 -2 -45 -23 -45 -34 0 -47
                                                                -19 -47 -66 0 -60 8 -74 41 -74 l29 0 0 -184 0 -183 63 -7 c34 -3 76 -2 92 2
                                                                l30 8 3 182 2 182 40 0 c38 0 39 1 45 43 4 23 2 54 -4 70 -9 24 -16 27 -56 27
                                                                l-45 0 0 49 c0 46 -1 49 -31 55 -43 8 -89 7 -116 -4z" />
                                <path d="M683 1065 c-3 -9 -4 -96 -1 -193 6 -189 15 -228 59 -268 56 -50 166
                                                                -56 235 -13 l35 21 22 -20 c26 -24 68 -36 96 -27 28 8 55 84 47 129 -5 27 -13
                                                                37 -31 42 l-25 6 -2 167 -3 166 -82 3 -83 3 0 -169 0 -170 -30 -12 c-54 -23
                                                                -59 -9 -62 179 l-3 166 -83 3 c-69 2 -83 0 -89 -13z" />
                                <path d="M1613 1065 c-3 -9 -4 -96 -1 -193 6 -189 15 -228 59 -268 56 -50 166
                                                                -56 235 -13 l35 21 22 -20 c26 -24 68 -36 95 -28 23 8 52 72 52 115 0 31 -22
                                                                61 -45 61 -12 0 -15 32 -17 168 l-3 167 -82 3 -83 3 0 -169 0 -170 -30 -12
                                                                c-54 -23 -59 -9 -62 179 l-3 166 -83 3 c-69 2 -83 0 -89 -13z" />
                                <path d="M2174 1066 c-3 -8 -4 -97 -2 -198 3 -163 5 -187 24 -223 26 -50 68
                                                                -75 138 -82 47 -5 64 -2 113 22 39 19 58 25 61 16 5 -16 56 -41 85 -41 39 0
                                                                60 33 65 101 4 59 4 60 -27 72 l-31 11 0 169 0 168 -82 -3 -83 -3 -5 -169 -5
                                                                -169 -29 -10 c-50 -17 -56 4 -56 190 l0 163 -80 0 c-61 0 -82 -4 -86 -14z" />
                            </g>
                        </svg>                    
                    </h1>
                </a>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link text-dark grey-hover-effect" href="{% url 'book-creation' %}">Sell books</a>
                    {% if request.user.is_authenticated %}
                    <div class="dropdown m-0 p-0">
                        <a class="btn btn-link dropdown-toggle nav-link text-dark grey-hover-effect" type="button"
                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            {{request.user.name}}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="{% url 'sign-out' %}">Sign Out</a></li>
                            <li><a class="dropdown-item" href="{% url 'home' %}">Contact us</a></li>
                        </ul>
                    </div>
                    {% else %}
                    <a class="nav-link text-dark grey-hover-effect" href="{% url 'sign-in' %}">Sign in</a>
                    <a class="nav-link text-dark grey-hover-effect" href="{% url 'sign-up' %}">Create an account</a>
                    {% endif %}

                </nav>
            </div>
        </header>

        <main class="px-3 d-flex align-items-center">
            {% block content %}{% endblock %}
        </main>

        <footer class="mt-auto text-dark-50 min-h-15">
            {% comment %}
            <p>
                Cover template for <a href="https://getbootstrap.com/" class="text-dark">Bootstrap</a>, by
                <a href="https://twitter.com/mdo" class="text-dark">@mdo</a>.
            </p>
            {% endcomment %}
        </footer>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>