{% extends "boox_app/base.html" %} {% load static i18n %} {% block content %}
<div class="container mb-1">
  <form method="post" action="{% url 'book-creation' %}">
    {% csrf_token %}
    <div class="custom-container m-auto">
      <input type="hidden" name="cover" value="{{data.cover}}" id="cover">

      <div class="row mb-2 gy-1 ">
        <div class="col-sm-12 col-md-6 col-lg-5 mb-1 d-flex align-items-start">
          {% include 'boox_app/snippets/cover_input.html' %}
        </div>
        <div class="col-sm-12 col-md-6 col-lg d-flex">

          <div class="row vstack gap-3 gap-lg-5 mt-4 mt-md-0">
            <div class="col-12 ">
              <div class="">
                <label class="pb-1 fw-light text-start w-100">Title of the book</label>
                <input type="text" name="title" value="{{data.title}}"
                  class="form-control px-2  {% if 'title' in errors %} is-invalid {% endif %} needs-validation" id="title" />
              </div>
            </div>
            <div class="col-12">
              <div class="">
                <label class="pb-1 fw-light text-start w-100">Author of the book</label>
                <input type="text" name="author_name" value="{{data.author_name}}"
                  class="form-control px-2  {% if 'author_name' in errors %} is-invalid {% endif %}" id="author_name" />
              </div>
            </div>
            <div class="col-12">
              <div class="">
                <label class="pb-1 fw-light text-start w-100">GoodReads link</label>
                <input type="text" name="goodreads" value="{{data.goodreads}}"
                  class="form-control px-2  {% if 'goodread' in errors %} is-invalid {% endif %}" id="goodreads" />
              </div>
            </div>
            <div class="col-12">
              <div class="">
                <!-- <input type="text" name="wilaya" class="form-control px-2  {% if 'wilaya' in errors %} is-invalid {% endif %}" id="floatingInput"/> -->
                <label class="pb-1 fw-light text-start w-100">Wilaya</label>
                <select name="wilaya" class="form-select {% if 'wilaya' in errors %} is-invalid {% endif %} "
                  aria-label="Floating label select wilaya" id="wilaya">
                  {% if not data.wilaya or data.wilaya == "" %}<option selected disabled></option>{% endif%}
                  {% for region in regions %}
                  <option value="{{region.wilaya_code}}" {% if region.wilaya_code|stringformat:"s" == data.wilaya|stringformat:"s" %} selected {% endif %} >{{region.wilaya_code}} - {{region.wilaya_name_ascii}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col-12 pt-4 pt-md-0">
              <div class="row m-0 p-0" >
                <label class="col-2 m-0 p-0 d-flex justify-content-start align-items-center ">
                <span class="pb-2 m-0 text-start fw-light">Price</span>
                </label>
                <div class="col m-0 p-0">
                  <input type="number" name="price" value="{{data.price}}" class="form-control m-0 {% if 'price' in errors %} is-invalid {% endif %}" 
                    id="price" />
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      
      <div class="row">
        <div class="mt-4 mt-md-3 pt-1 pt-md-0">
          <button class="col-12 btn btn-secondary py-3 my-1" type="submit">Post for sale</button>
        </div>
      </div>

    </div>
  </form>
</div>

{% include 'boox_app/snippets/file_upload.html' %}

{% endblock %}