{% extends "boox_app/base.html" %}
{% load static boox_filters %}

{% block content %}
<div class="container align-items-start ">
  <div class="row my-5">
    {% for book in page_obj %}
    <div class="col-sm-12 col-md-6 col-lg-3 mb-sm-4 mb-md-2 mb-lg-1 py-1 d-flex justify-content-center ">
      <a href="{{book.get_absolute_url}}">
        <div class="card" style="width: 10rem; height: 15rem">
          {% comment %} 
          <div style="width: 10rem; height: 15rem" class="card-img-top placeholder-glow "></div> 
          {% endcomment %}
          {% if book.cover and book.cover != '' %}
          <img src="{{book.cover}}" style="width: 10rem; height: 15rem" class="card-img-top"
            alt="{% static 'boox_app/images/book-placeholder-small.png' %}" />
          {% else %}
          <img src="{% static 'boox_app/images/book-placeholder-small.png' %}" style="width: 10rem; height: 15rem"
            class="card-img-top" alt="{% static 'boox_app/images/book-placeholder-small.png' %}" />
          {% endif %}
        </div>
        <div class="d-flex align-items-end py-1 mt-1 text-dark text-break" style="width: 10rem;">
          <h6 class="d-flex align-items-end text-dark text-break" style="width: 10rem; max-height: 3rem;">{{book.title|truncatechars:33}}</h6>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>

  {% if page_obj %}
  <div class="row">
    <div class="col">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link border-0 p-2" href="?page={{ page_obj.previous_page_number }}">
                <svg width="25px" height="25px" fill="#563d7c" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;}</style></defs><title/><g data-name="Layer 2" id="Layer_2"><path d="M20,25a1,1,0,0,1-.71-.29l-8-8a1,1,0,0,1,0-1.42l8-8a1,1,0,1,1,1.42,1.42L13.41,16l7.3,7.29a1,1,0,0,1,0,1.42A1,1,0,0,1,20,25Z"/></g><g id="frame"><rect class="cls-1" height="32" width="32"/></g></svg>
              </a>
            </li>
            {% endif %}
            {% for page in page_obj.paginator.page_range %}
            <li class="page-item border-0"><a class="page-link border-0 fs-5 purple-text {% if page == page_obj.number %} fw-bolder {% endif %}" href="?page={{page}}">{{page}}</a></li>
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link border-0 p-2" href="?page={{ page_obj.next_page_number }}">
                <svg  width="25px" height="25px" fill="#563d7c" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;}</style></defs><title/><g data-name="Layer 2" id="Layer_2"><path d="M12,25a1,1,0,0,1-.71-.29,1,1,0,0,1,0-1.42L18.59,16l-7.3-7.29a1,1,0,1,1,1.42-1.42l8,8a1,1,0,0,1,0,1.42l-8,8A1,1,0,0,1,12,25Z"/></g><g id="frame"><rect class="cls-1" height="32" width="32"/></g></svg>
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>
    </div>
  </div>
  {% endif %}

</div>
{% endblock %}