{% extends "boox_app/base.html" %}
{% load static %}

{% block content %}
<div class="container pt-5">
  <div class="row my-5">
    <div class="col d-flex justify-content-center  d-flex justify-content-center  ">
      <div class="card" style="width: 12rem; height: 17rem">
        <img src="{% static 'boox_app/images/book-placeholder-small.png' %}"  style="width: 12rem; height: 17rem" class="card-img-top" alt="{% static 'boox_app/images/book-placeholder-small.png' %}" />
        <div class="card-img-overlay d-flex align-items-end px-2 py-0 m-0">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center ">
      <div class="card" style="width: 12rem; height: 17rem">
        <img src="{% static 'boox_app/images/book-placeholder-small.png' %}"  style="width: 12rem; height: 17rem" class="card-img-top p-0 m-0" alt="{% static 'boox_app/images/book-placeholder-small.png' %}" />
        <div class="card-img-overlay d-flex align-items-end px-2 py-0 m-0">
          <h5 class="">Card title</h5>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center ">
      <div class="card" style="width: 12rem; height: 17rem">
        <img src="{% static 'boox_app/images/book-placeholder-small.png' %}"  style="width: 12rem; height: 17rem" class="card-img-top" alt="{% static 'boox_app/images/book-placeholder-small.png' %}" />
        <div class="card-img-overlay d-flex align-items-end px-2 py-0 m-0">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center ">
      <div class="card" style="width: 12rem; height: 17rem">
        <img src="{% static 'boox_app/images/book-placeholder-small.png' %}"  style="width: 12rem; height: 17rem" class="card-img-top" alt="{% static 'boox_app/images/book-placeholder-small.png' %}" />
        <div class="card-img-overlay d-flex align-items-end px-2 py-0 m-0">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col d-flex justify-content-center ">
      <div class="card" style="width: 12rem; height: 17rem">
        <img src="{% static 'boox_app/images/book-placeholder-small.png' %}"  style="width: 12rem; height: 17rem" class="card-img-top" alt="{% static 'boox_app/images/book-placeholder-small.png' %}" />
        <div class="card-img-overlay d-flex align-items-end px-2 py-0 m-0">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center ">
      <div class="card" style="width: 12rem; height: 17rem">
        <img src="{% static 'boox_app/images/book-placeholder-small.png' %}"  style="width: 12rem; height: 17rem" class="card-img-top" alt="{% static 'boox_app/images/book-placeholder-small.png' %}" />
        <div class="card-img-overlay d-flex align-items-end px-2 py-0 m-0">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center ">
      <div class="card" style="width: 12rem; height: 17rem">
        <img src="{% static 'boox_app/images/book-placeholder-small.png' %}"  style="width: 12rem; height: 17rem" class="card-img-top" alt="{% static 'boox_app/images/book-placeholder-small.png' %}" />
        <div class="card-img-overlay d-flex align-items-end px-2 py-0 m-0">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center ">
      <div class="card" style="width: 12rem; height: 17rem">
        <img src="{% static 'boox_app/images/book-placeholder-small.png' %}"  style="width: 12rem; height: 17rem" class="card-img-top" alt="{% static 'boox_app/images/book-placeholder-small.png' %}" />
        <div class="card-img-overlay d-flex align-items-end px-2 py-0 m-0">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col d-flex justify-content-center ">
      <div class="card" style="width: 12rem; height: 17rem">
        <img src="{% static 'boox_app/images/book-placeholder-small.png' %}"  style="width: 12rem; height: 17rem" class="card-img-top" alt="{% static 'boox_app/images/book-placeholder-small.png' %}" />
        <div class="card-img-overlay d-flex align-items-end px-2 py-0 m-0">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center ">
      <div class="card" style="width: 12rem; height: 17rem">
        <img src="{% static 'boox_app/images/book-placeholder-small.png' %}"  style="width: 12rem; height: 17rem" class="card-img-top" alt="{% static 'boox_app/images/book-placeholder-small.png' %}" />
        <div class="card-img-overlay d-flex align-items-end px-2 py-0 m-0">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center ">
      <div class="card" style="width: 12rem; height: 17rem">
        <img src="{% static 'boox_app/images/book-placeholder-small.png' %}"  style="width: 12rem; height: 17rem" class="card-img-top" alt="{% static 'boox_app/images/book-placeholder-small.png' %}" />
        <div class="card-img-overlay d-flex align-items-end px-2 py-0 m-0">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center ">
      <div class="card" style="width: 12rem; height: 17rem">
        <img src="{% static 'boox_app/images/book-placeholder-small.png' %}"  style="width: 12rem; height: 17rem" class="card-img-top" alt="{% static 'boox_app/images/book-placeholder-small.png' %}" />
        <div class="card-img-overlay d-flex align-items-end px-2 py-0 m-0">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col d-flex justify-content-center ">
      <div class="card" style="width: 12rem; height: 17rem">
        <img src="{% static 'boox_app/images/book-placeholder-small.png' %}"  style="width: 12rem; height: 17rem" class="card-img-top" alt="{% static 'boox_app/images/book-placeholder-small.png' %}" />
        <div class="card-img-overlay d-flex align-items-end px-2 py-0 m-0">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center ">
      <div class="card" style="width: 12rem; height: 17rem">
        <img src="{% static 'boox_app/images/book-placeholder-small.png' %}"  style="width: 12rem; height: 17rem" class="card-img-top" alt="{% static 'boox_app/images/book-placeholder-small.png' %}" />
        <div class="card-img-overlay d-flex align-items-end px-2 py-0 m-0">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center ">
      <div class="card" style="width: 12rem; height: 17rem">
        <img src="{% static 'boox_app/images/book-placeholder-small.png' %}"  style="width: 12rem; height: 17rem" class="card-img-top" alt="{% static 'boox_app/images/book-placeholder-small.png' %}" />
        <div class="card-img-overlay d-flex align-items-end px-2 py-0 m-0">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center ">
      <div class="card" style="width: 12rem; height: 17rem">
        <img src="{% static 'boox_app/images/book-placeholder-small.png' %}"  style="width: 12rem; height: 17rem" class="card-img-top" alt="{% static 'boox_app/images/book-placeholder-small.png' %}" />
        <div class="card-img-overlay d-flex align-items-end px-2 py-0 m-0">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
