{% extends "boox_app/base_light.html" %} {% load static i18n %} {% block content %}
<div class="container flex-column ">
  <div class="row  d-flex justify-content-center">
    <div class="col col-md-6 col-lg-4 ">
      <form method="post" action="{% url 'sign-in' %}" name="signIn" id="signIn">
        {% csrf_token %}
        <input type="hidden" name="provider" value="manual">

        <a href="/">
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" alt="Boox logo" width="300" height="161" viewBox="0 0 322.000000 166.000000" preserveAspectRatio="xMidYMid meet">
                <g transform="translate(0.000000,166.000000) scale(0.100000,-0.100000)" fill="#563d7c" stroke="none">
                    <path d="M110 1281 l-45 -6 -3 -347 -2 -347 32 -6 c18 -3 62 -5 98 -3 l65 3 3
                                                    128 c2 94 6 127 15 127 7 0 37 -50 67 -110 30 -61 65 -121 78 -132 39 -37 106
                                                    -24 189 39 l33 24 -103 142 -104 142 90 163 c49 90 86 166 82 170 -3 4 -52 7
                                                    -108 7 l-101 0 -67 -135 -68 -135 0 138 -1 137 -39 0 c-22 0 -45 2 -53 3 -7 2
                                                    -33 1 -58 -2z" />
                    <path d="M2742 1282 c-9 -7 -12 -81 -10 -338 l3 -329 50 -25 c42 -21 64 -25
                                                    140 -25 74 0 97 4 132 22 82 44 123 130 123 258 0 137 -49 212 -151 234 -28 6
                                                    -67 9 -85 5 l-34 -6 0 100 c0 82 -3 101 -16 106 -23 9 -137 7 -152 -2z m245
                                                    -382 c7 -14 13 -50 13 -80 0 -68 -19 -100 -61 -100 l-29 0 0 98 c0 54 3 102 7
                                                    106 15 15 58 0 70 -24z" />
                    <path d="M1313 1180 c-19 -8 -23 -17 -23 -55 0 -40 -2 -45 -23 -45 -34 0 -47
                                                    -19 -47 -66 0 -60 8 -74 41 -74 l29 0 0 -184 0 -183 63 -7 c34 -3 76 -2 92 2
                                                    l30 8 3 182 2 182 40 0 c38 0 39 1 45 43 4 23 2 54 -4 70 -9 24 -16 27 -56 27
                                                    l-45 0 0 49 c0 46 -1 49 -31 55 -43 8 -89 7 -116 -4z" />
                    <path d="M683 1065 c-3 -9 -4 -96 -1 -193 6 -189 15 -228 59 -268 56 -50 166
                                                    -56 235 -13 l35 21 22 -20 c26 -24 68 -36 96 -27 28 8 55 84 47 129 -5 27 -13
                                                    37 -31 42 l-25 6 -2 167 -3 166 -82 3 -83 3 0 -169 0 -170 -30 -12 c-54 -23
                                                    -59 -9 -62 179 l-3 166 -83 3 c-69 2 -83 0 -89 -13z" />
                    <path d="M1613 1065 c-3 -9 -4 -96 -1 -193 6 -189 15 -228 59 -268 56 -50 166
                                                    -56 235 -13 l35 21 22 -20 c26 -24 68 -36 95 -28 23 8 52 72 52 115 0 31 -22
                                                    61 -45 61 -12 0 -15 32 -17 168 l-3 167 -82 3 -83 3 0 -169 0 -170 -30 -12
                                                    c-54 -23 -59 -9 -62 179 l-3 166 -83 3 c-69 2 -83 0 -89 -13z" />
                    <path d="M2174 1066 c-3 -8 -4 -97 -2 -198 3 -163 5 -187 24 -223 26 -50 68
                                                    -75 138 -82 47 -5 64 -2 113 22 39 19 58 25 61 16 5 -16 56 -41 85 -41 39 0
                                                    60 33 65 101 4 59 4 60 -27 72 l-31 11 0 169 0 168 -82 -3 -83 -3 -5 -169 -5
                                                    -169 -29 -10 c-50 -17 -56 4 -56 190 l0 163 -80 0 c-61 0 -82 -4 -86 -14z" />
                </g>
            </svg>
        </a>
        <h1 class="h5 mt-4 mb-4">Sign in via email</h1>

        <div class="row gy-2">
          <div class="form-floating">
            <input type="email" name="email" class="form-control px-2" id="email" placeholder="name@example.com" />
            <label for="email" class="px-4">Email address</label>
          </div>
          <div class="form-floating">
            <input type="password" name="password" class="form-control px-2" id="password" placeholder="Password" />
            <label for="password" class="px-4">Password</label>
          </div>
          <div class="mt-3">
            <button class="col-12 btn btn-secondary py-3 my-1" type="submit">Sign in</button>
          </div>
        </div>
      </form>
    </div>
    <div class="row mt-5 d-flex justify-content-center">
      <div class="col col-md-6 col-lg-4">
        <h1 class="h5 mt-1 mb-2">Or</h1>
        <div class="row gy-2">
          <div class="mt-3 col-12">
            <button class="col-12 btn btn-outline-secondary text-center fs-6 text-dark py-3 my-2" type="button"
              id="signInWithGoogleBtn">
              <svg xmlns="http://www.w3.org/2000/svg" width="1.65em" height="1.65em" viewBox="0 0 48 48">
                <path fill="#FFC107"
                  d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z">
                </path>
                <path fill="#FF3D00"
                  d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z">
                </path>
                <path fill="#4CAF50"
                  d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z">
                </path>
                <path fill="#1976D2"
                  d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z">
                </path>
              </svg>
              Sign in with your Google account
            </button>
          </div>
        </div>
      </div>
    </div>
    {% comment %}
    <div class="row align-self-end   ">
      <div class="col">
        <p class="my-2 text-muted">&copy; Boox 2022</p>
      </div>
    </div>
    {% endcomment %}
  </div>


  <script type="module">
    {% include 'boox_app/snippets/firebase_auth_setup.html' %}

    document.getElementById("signInWithGoogleBtn").addEventListener("click", function () {
      signInWithRedirect(auth, provider);
    });


    var result = await getRedirectResult(auth);
    var token = await result.user.getIdToken();

    var form = document.forms[0];
    form.elements.email.value = result.user.email;
    form.elements.password.value = result.user.uid;
    form.elements.provider.value = "google";
    attach_firebase_id_token(document, form, token)
    form.submit();

  </script>
  {% endblock %}