/*
 * Globals
 */


/* Custom default button */
html,
body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.btn-outline-secondary,
.btn-outline-secondary:hover,
.btn-outline-secondary:focus {
  background-color: #fff;
  border-width: 2px;
  border-color: #563d7c;
  color: #563d7c;
  text-shadow: none;
  /* Prevent inheritance from `body` */
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #563d7c;
  text-shadow: none;
  border: 2px solid #563d7c;
  /* Prevent inheritance from `body` */
}

.form-control:focus {
  border-color: #563d7c;
  border-width: 2px;
  box-shadow: none;
}

.form-control:focus {
  border-color: #563d7c;
  border-width: 2px;
  box-shadow: none;
}

.border-dashed {
  border-color: #563d7c !important;
  border-width: 5px !important;
  border-style: dashed !important;
}

.alert-fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9999;
  border-radius: 0px
}

.purple-border{
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.red-border{
  border: 1px solid #dc3545;
  border-radius: .25rem;
}

.highlight-drop {
  background-color: rgb(86, 61, 124, 0.15);
}

.min-h-15 {
  min-height: 15%;
}

.purple-text,
.purple-text:hover {
  color: #563d7c;
}

.grey-hover-effect:hover {
  background-color: #e9ecef;
}

.purple-hover-effect:hover {
  background-color: rgb(86, 61, 124, 0.05);
}

.red-hover-effect:hover {
  background-color: rgb(220, 53, 69, 0.05);
}

a {
  text-decoration: none !important;
}

.h-80 {
  height: 80%;
}

.h-90 {
  height: 90%;
}

.w-90 {
  width: 90%;
}

.w-40 {
  width: 40%;
}

.border-purple {
  border: 1px solid #563d7c !important;
}

.border-purple-r5 {
  border: 1px solid #563d7c !important;
  border-radius: 5px;
}

.black-border {
  border: 2px solid #000;
}

.modal-backdrop.show {
  opacity: 0.1 !important;
}

.no-border{
  border: none;
}

.fade-out {
  transform: scaleY(0);    
  transform-origin: top;
  color: transparent;
  transition: transform 0.75s ease;
}

.alert-custom{
  width: 85%;
  max-width: 450px !important;
  background-color: white;
  
}


@media (min-width: 375px) {
}

@media (min-width: 428px) {
}

@media (min-width: 768px) {
  .w-md-60 {
    width: 60% !important;
  }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}